<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:paulahnn@umich.edu">email</a></li>
	        		<li><a href="https://github.com/paulahnn">github.com/paulahnn</a></li>
				<li><a href="/blog/">blog</a></li>
				</ul>
			</footer>
		</body>
	</html>
